



/* Body Elements */
body {
    
    padding: 0;             /* Elements spacing of buttons */
    margin: 0;              /* Move elements close to eachother */

    width: 100vw;           /* width of elements */
    height: 100vh;          /* heigh of elements */
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    font-family: Avenir, Helvetica, Helvetica Neue, Roboto, Ubuntu, Cantarell, sans-serif;

    background-image: url("/Users/PrinceMufti/Desktop/Uncharted Quiz Website/u4-pic.jpg");
    background-position: center;
    background-size: cover;
}

h1 {
    font-size: 50px;
    color:white;
}

.paragraph {
    text-align:center;
    color:white;
    
}

/* Question box container settings */
.container {
    
    width: 800px;                   /* Size of box */
    height: 390px;
    max-width: 80%;                 /* Max width box can be */
    background-color: #121212;      /* Background color of the box */
    border-radius: 5px;             /* Box border radius */
    padding: 20px;                  /* Box spacing */
    box-shadow: 0 0 20px 10px;       /* Box shadow with x, y, blur, length of shadow*/
    box-sizing: border-box;
    opacity: 0.9;                   /* make box see through slightly */
}

/* Home and about page settings */
.navigation {
    
    position: absolute;
    left: 0;
    bottom: 100;
    width: 100%;
    font-family: Avenir, Helvetica, Helvetica Neue, Roboto, Ubuntu, Cantarell, sans-serif;
    font-size: 15px;
    color: white;
    text-align: center;
    word-spacing: 40px;
    text-decoration: none;
}

/* Footer settings */
.footer {
    position: absolute;
    left: 0;
    bottom:10;
    width: 100%;
    font-family: Avenir, Helvetica, Helvetica Neue, Roboto, Ubuntu, Cantarell, sans-serif;
    font-size: 12px;
    color: white;
    text-align: center;
    text-decoration: none;
}

/* navigation link settings */
a {
    text-decoration: none;
    color: white;
    
}

a:hover {
    text-decoration: none;
}

.loader {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.loader > img {
    width: 100px;
}

/* loader settings for hiding loader */
.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

/* fade the loader out */
@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}


/* size for smaller screens */
@media only screen and (max-width: 900px) {
            
    body {
        font-size: 13px;
    }
    
    .paragraph {
        font-size: 12px;
        }
    
    h1 {
        font-size: 35px;
    }
}
